<% @situacions.each do |situacion| %>
<div> 
    <%= situacion.rut %>
    <%= situacion.cond_salud %>
    <%= situacion.situa_laboral %>
    <%= situacion.fecha_salud %>
    <%= situacion.fecha_laboral %>

</div>

<%end%>
