<% @personas.each do |persona| %>
<div>
    <%= persona.rut %>
    <%= persona.apellido_pat %>
    <%= persona.apellido_mat %>
    <%= persona.nombre %>
    <%= persona.tipo %>
    <%= persona.direccion %>
    <%= persona.fecha_nac %>
    <%= persona.n_educacional %>
    <%= persona.idioma %>
</div>
<%end%>